<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.riss.book">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAccount">
        <activity android:name="com.riss.book.Image_view_Activity" android:exported="true"></activity>
        <activity android:name="com.riss.book.Activity.Business_home_Activity" />
        <activity
            android:name="com.riss.book.Activity.Login_choose_Activity"
            android:exported="true" />
        <activity android:name="com.riss.book.Activity.Login_user_Activity" />
        <activity android:name="com.riss.book.Activity.Monthlist_Activity" />
        <activity android:name="com.riss.book.Activity.Business_list_Activity" />
        <activity android:name="com.riss.book.Activity.Business_Analysis_Activity" />
        <activity android:name="com.riss.book.Activity.Others_Activity" />
        <activity android:name="com.riss.book.Activity.Payment_Activity" />
        <activity android:name="com.riss.book.Activity.Full_Payement_Details_Activity" />
        <activity
            android:name="com.riss.book.Activity.Edit_Business_Activity"
            android:exported="true" />
        <activity
            android:name="com.riss.book.Activity.Payment_Details_Activity"
            android:exported="true" />
        <activity
            android:name="com.riss.book.Activity.Business_Activity"
            android:exported="true" />
        <activity
            android:name="com.riss.book.Activity.View_Business_Activity"
            android:exported="true" />
        <activity android:name="com.riss.book.Activity.Forgetpassword_Activity" />
        <activity
            android:name="com.riss.book.Activity.Addbusiness_Activity"
            android:exported="true" />
        <activity
            android:name="com.riss.book.Activity.User_Home_Activity"
            android:exported="true" />
        <activity
            android:name="com.riss.book.Activity.All_userview_Activity"
            android:exported="true" />
        <activity android:name="com.riss.book.Activity.Admin_home_Activity" />
        <activity
            android:name="com.riss.book.Activity.Registration_Activity"
            android:exported="true" />
        <activity
            android:name="com.riss.book.Activity.Login_Activity"
            android:exported="true" />
        <activity android:name="com.riss.book.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>